<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<constructor-arg value="jdbc:oracle:thin:@localhost:1521/xe"/>
		<constructor-arg value="system"/>
		<constructor-arg value="India123"/>
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
	</bean>
	
	<!-- Configure EmployeeDAO here -->
	<!-- Inject DataSource in DAO -->
		
</beans>